.home-container {
    padding: 8px;
    text-align: center;
}

.home-container h1 {
    font-size: 36px;
}

.home-container p {
    font-size: 24px;
}

@media (max-width: 400px) {
    .home-container h1 {
        font-size: 24px;
    }
    
    .home-container p:first-of-type {
        font-size: 18px;
    }
    
    .home-container p {
        font-size: 16px;
    }
}