<div class="home-container">
    <h1>Dobrodošli na Ignitech Školica by Hrvoje Pavić</h1>
    <p>Ovo je početna stranica, riješenja zadataka su grupirana smisleno, da nije sve na jednom mjestu. <br> Tijek misli i dijela kojim je kreirana ova aplikacija je sljedeći :</p>
    <p><strong>1.</strong> Novi .NET Core Web API projekt sa potrebnim Paketima za Entity Framework</p>
    <p><strong>2.</strong> Kreirani modeli i AppDbContext (veza sa bazom)</p>
    <p><strong>3.</strong> Kreirana početna migracija sa Add-Migration InitialCreate, Update Database</p>
    <p><strong>4.</strong> Dodani Seed podaci</p>
    <p><strong>5.</strong> Projekt spojen na novi Git repozitorij <a href="https://github.com/Hpavic/IgnitechSkolica" target="_blank">(link)</a>, dodan .gitignore</p>
    <p><strong>6.</strong> Back metode dovršene: kreirana 4 kontrolera, 1 servis, 2 helper metode</p>
    <p><strong>7.</strong> Instaliran Front Angular projekt, pokretanje back i front u isto vrijeme preko Concurrently sa <strong>npm start</strong> iz foldera <strong>IgnitechSkolicaFrontend</strong></p>
    <p><strong>8.</strong> Back Swagger na : <a href="http://localhost:5090/swagger" target="_blank">http://localhost:5090/swagger</a>, front na : <a href="http://localhost:4200/" target="_blank">http://localhost:4200/</a></p>
    <p><strong>9.</strong> Kreirani servisi za dohvat podataka sa back-a i komponente za prikaz podataka u frontu</p>
    <p><strong>10.</strong> Dodan final touch CSS</p>
</div>