.student-container {
    max-width: 400px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.student-row {
    padding: 8px;
    border-radius: 8px;
}

.subject-row {
    padding: 4px;
}
  
.student-row:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}